body {
  background-image: linear-gradient(to right, #141e30, #243b55);
  overflow-x: hidden;
}

.country {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.overlay {
  background-color: #000;
  display: flex;
  z-index: 3;
}
a {
  list-style: none;
  text-decoration: none;
}
@media screen and (max-width: 403px) {
  .search-input {
    max-width: 150px;
  }
}
